

<!--
<div class="container-padding ">
    <md-switch md-no-ink ng-model="switch" ng-change="sidebar.toggleRemove()" aria-label="Remove Elements">
        Remove Elements
    </md-switch>
</div>
-->
    
        <!--
        <div class="search container-padding">
          <input ng-model="search" placeholder="Search ..."/>
        </div>-->
       
        <div class="segment panel" ng-repeat="segment in sidebar.segments" style ="height:425px;">
            <div class="head panel-header" style="padding-left: 12px;">
                {{segment.name | displayNames}}
            </div>
            <div class="panel-subtitle">
            Hover on an element to hightlight alerts, click to filter.
            </div>
            <div class="panel-subtitle">
            Select circle to navigate to Entity Investigation.
            </div>
            
            <div class="body">
                <div class="element" ng-repeat="element in segment.elements | filter:search" ng-class="{active: element.toggled}" ng-click="sidebar.elementClick(segment.name, element)" ng-mouseover="sidebar.elementMouseover(segment.name, element.id)" ng-mouseout="sidebar.elementMouseout()">
                    {{element.id | displayNames}}
                    <!--
                    <span ng-show="segment.name === 'entityId'" class="link" ui-sref="entity({entityId: element.id})"></span>-->
                    <div style="text-align: right;"> 
                        <div class="number-circle" ng-style="element.borderStyle" ng-show="segment.name === 'entityId'" ui-sref="entity({entityId: element.id})">{{element.count >= 0 ? element.count : 'N/A'}}</div>
                    </div>
                </div>
            </div>
            <md-switch md-no-ink ng-model="switch" ng-change="sidebar.toggleRemove()" aria-label="Remove Elements" style="font-size:10px">
             Remove filtered elements
            </md-switch>
            
        </div>
        
        



        

    


